body {
  background-color: #333;
  color: #fff;
}

header {
  background-color: #222;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
}

main {
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

textarea {
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px;
  font-size: 16px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  background-color: #0072c6;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #005ea2;
}

.output-group {
  margin-top: 20px;
}

footer {
  background-color: #222;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}













